*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    color: black;
    font-family: Verdana, Calibri;
    margin: 0;
    padding: 0;
}

.quicklink {
    display: flex;
    background-color: #010131;
    font-weight: bold;
    width: auto;
    height: auto;
    justify-content: flex-end;
    
}

.socials {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background-color: #010131;
    justify-content: space-between;
    width: auto;
    height: 2rem;
}

.my_github {
    justify-content: space-around;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button_style {
    background-color: #010131;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    height: 40px;
    width: auto;
    padding: 10px;
    margin: 2px 4px 2px;
}